/dist
node_modules
.cache
.git
.idea
.tern-project
assets.json
npm-debug.log
package-lock.json
logs
debug.log
.DS_Store
env.json
appinfo.json
yarn.lock
tools/colors/images/*
tools/styles/*.json
/src/config/server/generated/
/public/assets
